body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

h1 {
    display: block;
    font-size: 5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 4em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    font-size: 1.75em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

figure {
  display: block;
  margin: 0;
  width: 90%;
  border: thin silver solid;
  text-align: center;
}


figcaption {
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  text-align: center;
}

.photo img {
    height: auto;
    vertical-align: bottom;
    width: 100%;
}


.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


table {
  table-layout: fixed;
  width: 100%;
  margin: auto;
  text-align: left;
  border: 3px solid black;
  border-spacing: 0px;
}

